# General
build/

# Scala
.metals/
.bloop/
.ammonite/
metals.sbt
target/

# Clojure / Leiningen / Calva
.lein-*
.calva

# C++ / CMake / Xcode
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake
*.xcodeproj/
Debug/

